.parentContainer{
    margin: 30px auto;
    background-color: #b9f4f4;
    max-width: 600px;
}
.mainHeading{
    margin-bottom: 20px;
    padding: 0 20px;
}
.subTitle{
    padding: 0 20px;
    color: rgb(146, 134, 134);
}
.active{
    background-color: #fff;
    color: blue;
}